<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.applicationHost>
        <webLimits connectionTimeout="00:10:00" />
    </system.applicationHost>
    <system.web>
        <httpRuntime executionTimeout="00:10:00" />
    </system.web>
    <system.webServer>
        <handlers>
            <add name="httppPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" />
        </handlers>
        <httpPlatform processPath="%AZURE_TOMCAT85_HOME%\bin\startup.bat"
            requestTimeout="00:10:00"
            startupTimeLimit="600"
            startupRetryCount="1">
        </httpPlatform>
    </system.webServer>
</configuration>